<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="./mvp.css" />
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyA-D1LibF6PFcGHsBe4Efft95FKMjvJ4dU",
            authDomain: "growindigo-backend.firebaseapp.com",
            projectId: "growindigo-backend",
            storageBucket: "growindigo-backend.appspot.com",
            messagingSenderId: "549563924157",
            appId: "1:549563924157:web:dc16a767891d2aef6c81d4"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        // firebase.auth().setPersistence(firebase.auth.Auth.Persistence.None);
        firebase.auth().useDeviceLanguage();



        window.onload = function () {
            firebase.auth().onAuthStateChanged(user => {
                console.log('user: ', user);
                if (user) {
                    document.getElementById('main_div').style.display = 'none';
                    document.getElementById('verify_div').style.display = 'none';
                    document.getElementById('authenticated').style.display = 'block';
                    document.getElementById('ph').innerText = user.phoneNumber;
                } else {
                    document.getElementById('main_div').style.display = 'block';
                    document.getElementById('verify_div').style.display = 'none';
                    document.getElementById('authenticated').style.display = 'none';
                    document.getElementById('ph').innerText = '';
                }
            })
            
           
        };
        function log() {
                 firebase.auth().signOut().then(() => {
                window.location.reload;
            }).catch((error) => {
            });
            }
    </script>
</head>

<body>
    <div class="container">
        <h1>Firebase Phone no Authentication</h1>
        <div id="recaptcha-container"></div>
        <div id="main_div" class="container-content">
            <label>
                Enter Phone no:
            </label>
            <div class="input-div">
                <input type="number" min="0" autocomplete="off" id="phone" name="phone"
                    placeholder="Enter phone Number" />
            </div>
            <div class="button-div">
                <button id="submit" onclick="onSignInSubmit()"> Submit</button>
            </div>

        </div>
        <div id="verify_div" class="container-content">
            <label>
                Enter OTP:
            </label>
            <div class="input-div">
                <input type="number" id="code" placeholder="Enter otp here" />
            </div>
            <div class="button-div">
                <button onclick="verifyCode()">Verify</button>
            </div>

        </div>

        <div id="authenticated">

            <h2>Login Succesful</h2>
            <h3> Phone no: <span id="ph"></span>
            </h3>
            <button id="logout" onclick="log()">Logout</button>
        </div>
    </div>

    <script>
        // window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
            'size': 'invisible',
            'callback': (response) => {
                // onSignInSubmit();
            }
        });

        function onSignInSubmit() {
            console.log('inside onSignInSubmit');
            const inputphone = document.getElementById('phone').value;

            const appVerifier = window.recaptchaVerifier;
            console.log('appVerifier: ', appVerifier);
            if (inputphone.trim() === '' || isNaN(inputphone)) {
                alert('Please entyer valid phone no');
                return;
            }
            const phoneNumber = "+91" + inputphone;
            console.log('phoneNumber: ', phoneNumber);
            document.getElementById('main_div').style.display = 'none';
            document.getElementById('verify_div').style.display = 'block';
            firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                .then((confirmationResult) => {
                    console.log('confirmationResult: ', confirmationResult);
                    window.confirmationResult = confirmationResult;

                }).catch((error) => {

                    console.log('Error: ', error)
                });
        }
        function verifyCode() {
            function getCodeFromUserInput() {
                return document.getElementById('code').value;
            }

            const code = getCodeFromUserInput();
            window.confirmationResult.confirm(code).then((result) => {
                const user = result.user;
                console.log('user: ', user);
                document.getElementById('main_div').style.display = 'none';
                document.getElementById('verify_div').style.display = 'none';
                document.getElementById('authenticated').style.display = 'block';
                document.getElementById('ph').innerText = user.phoneNumber;
                
            }).catch((error) => {
                alert("User couldn't sign in (bad verification code?)");
            });
        }
    </script>
</body>

</html>